/* 
    Created on : 10.10.2017, 17:59:48
    Author     : Mikhail Dumchev
*/
#background {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
}
#background.active {
    display: block;
    filter: blur(4px);
}
.modal-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 480px;
    background-color: rgb(255, 255, 255);
    padding: 20px 20px 25px;
    border-radius: 10px;
    opacity: 0;
    z-index: 15;
}
.modal-window.active {
    display: block;
}