* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

@font-face {
  font-family: "Highway-light";
  src: url("../fonts/highway-light.ttf") format("truetype");
}
@font-face {
  font-family: "Highway-medium";
  src: url("../fonts/highway-medium.ttf") format("truetype");
}
@font-face {
  font-family: "Highway-regular";
  src: url("../fonts/highway-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Highway-thin";
  src: url("../fonts/highway-thin.ttf") format("truetype");
}
/* 
    Created on : 10.10.2017, 17:57:21
    Author     : Mikhail Dumchev
*/
.frame {
  width: 98%;
  max-width: 1180px;
  min-width: 980px;
  margin: 0px auto;
}

.internal-frame {
  font-size: 0;
}
.internal-frame .column {
  display: inline-block;
  vertical-align: top;
}
.internal-frame .column-table {
  display: inline-table;
}

.additory-module {
  display: table-cell;
  vertical-align: middle;
}

.s-1 {
  width: 8.33%;
}

.s-2 {
  width: 16.66%;
}

.s-3 {
  width: 25%;
}

.s-4 {
  width: 33.33%;
}

.s-5 {
  width: 41.66%;
}

.s-6 {
  width: 50%;
}

.s-7 {
  width: 58.33%;
}

.s-8 {
  width: 66.66%;
}

.s-9 {
  width: 75%;
}

.s-10 {
  width: 83.11%;
}

.s-11 {
  width: 91.66%;
}

.s-12 {
  width: 100%;
}

.to-right {
  float: right;
}

.with-small-padding {
  padding: 0px 5px;
}

.with-padding {
  padding: 0px 10px;
}

.with-left-padding {
  padding-left: 10px;
}

.with-right-padding {
  padding-right: 10px;
}

.error-message {
  font-family: "Highway-light", arial, sans-serif;
}

.upper-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 20px 0px 19px;
  background-color: white;
  z-index: 10;
  border-bottom: 1px solid #eeeeee;
}
.upper-menu.black {
  background-color: black;
}
.upper-menu.black .internal-frame a:not(.button) h1 {
  color: white;
}
.upper-menu.black .internal-frame a:not(.button) h1:before {
  background-position: 0px -30px;
}
.upper-menu .internal-frame {
  position: relative;
  max-width: 1180px;
  min-width: 980px;
  margin: 0px auto;
}
.upper-menu .internal-frame .with-padding {
  text-align: center;
}
.upper-menu .internal-frame .column {
  vertical-align: middle;
}
.upper-menu .internal-frame a:not(.button) {
  display: inline-block;
  margin-left: 103px;
  text-decoration: none;
}
.upper-menu .internal-frame a:not(.button) h1 {
  position: relative;
  padding-left: 40px;
  font-family: "Highway-light", arial, sans-serif;
  font-size: 24px;
  color: black;
  transition: 0.5s color;
}
.upper-menu .internal-frame a:not(.button) h1:before {
  position: absolute;
  left: 0px;
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../images/logotype.png");
  background-position: 0% 0%;
  background-repeat: no-repeat;
}
.upper-menu .internal-frame a:not(.button) h1:hover {
  cursor: pointer;
}
.upper-menu .internal-frame .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}
.upper-menu .internal-frame .icon.menu {
  background-image: url("../images/icons/menu.svg");
}
.upper-menu .internal-frame .icon.loupe {
  background-image: url("../images/icons/loupe.svg");
}
.upper-menu .internal-frame .icon.bell {
  background-image: url("../images/icons/bell.svg");
}
.upper-menu .internal-frame .icon:hover {
  cursor: pointer;
}
.upper-menu .internal-frame .icon:not(:first-of-type) {
  margin-left: 30px;
}

.button {
  position: relative;
  display: table;
  width: 180px;
  height: 40px;
  font-size: 16px;
  font-family: "Highway-light", arial, sans-serif;
  color: white;
  text-decoration: none;
  background: #76ead5;
  background: -moz-linear-gradient(left, #76ead5 0%, #3dc9de 51%, #0face6 100%);
  background: -webkit-linear-gradient(left, #76ead5 0%, #3dc9de 51%, #0face6 100%);
  background: linear-gradient(to right, #76ead5 0%, #3dc9de 51%, #0face6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76ead5', endColorstr='#0face6',GradientType=1 );
}
.button:hover {
  cursor: pointer;
}
.button .additory-module {
  padding-left: 40px;
  text-align: center;
}
.button .additory-module:before {
  position: absolute;
  top: 0px;
  left: 0px;
  display: table;
  width: 40px;
  height: 40px;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../images/icons/calendar.svg");
  background-size: 18px 18px;
}

.main-part {
  padding-top: 114px;
}

.social-networks-module {
  border-bottom: 1px solid #eeeeee;
}
.social-networks-module .social-networks-list {
  width: 100%;
  padding: 12px 0px 17px;
}
.social-networks-module .social-networks-list .column {
  width: 20%;
}
.social-networks-module .social-networks-list .column .social-network-icon {
  display: block;
  padding-top: 30px;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: auto 20px;
  text-align: center;
  font-family: "Highway-thin", arial, sans-serif;
  font-size: 14px;
  color: #b2b2b2;
  text-decoration: none;
}
.social-networks-module .social-networks-list .column .social-network-icon.facebook {
  background-image: url("../images/social-networks/facebook.svg");
}
.social-networks-module .social-networks-list .column .social-network-icon.twitter {
  background-image: url("../images/social-networks/twitter.svg");
}
.social-networks-module .social-networks-list .column .social-network-icon.vkontakte {
  background-image: url("../images/social-networks/vkontakte.svg");
}
.social-networks-module .social-networks-list .column .social-network-icon.telegram {
  background-image: url("../images/social-networks/telegram.svg");
}
.social-networks-module .social-networks-list .column .social-network-icon.instagram {
  background-image: url("../images/social-networks/instagram.svg");
}

.similar-news-module {
  padding-top: 15px;
}
.similar-news-module h2 {
  margin-bottom: 15px;
}
.similar-news-module .article-preview:not(:last-of-type) {
  margin-bottom: 30px;
}
.similar-news-module .article-preview .article-preview-image {
  padding-right: 12px;
}
.similar-news-module .article-preview a .article-preview-description h3 {
  color: #222222;
}
.similar-news-module .article-preview a .article-preview-description .article-preview-footer h4, .similar-news-module .article-preview a .article-preview-description .article-preview-footer p {
  color: #999999;
}

.article-preview:hover {
  cursor: pointer;
}
.article-preview .article-preview-image {
  width: 30%;
}
.article-preview .article-preview-image img {
  width: 100%;
}
.article-preview a {
  display: block;
}
.article-preview a .article-preview-description {
  width: 70%;
}
.article-preview a .article-preview-description h3 {
  margin-bottom: 10px;
  font-family: "Highway-light", arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.article-preview a .article-preview-description .article-preview-footer h4, .article-preview a .article-preview-description .article-preview-footer p {
  font-family: "Highway-thin", arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.article-preview a .article-preview-description .article-preview-footer h4:first-child, .article-preview a .article-preview-description .article-preview-footer p:first-child {
  margin-right: 12px;
}

.social-networks-module h2,
.similar-news-module h2,
.sing-up-module h2,
.main-navigation h2 {
  font-family: "Highway-light", arial, sans-serif;
  font-size: 20px;
  color: #222222;
}

.main-navigation .flat-free-module {
  position: fixed;
}
.main-navigation h2 {
  margin-bottom: 13px;
}
.main-navigation ul {
  margin-bottom: 30px;
  list-style-type: none;
}
.main-navigation ul li {
  font-size: 14px;
  font-family: "Highway-light", arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.2px;
}
.main-navigation ul li a {
  color: #777777;
  text-decoration: none;
  transition: 0.5s color;
}
.main-navigation ul li a:hover {
  font-family: "Highway-light", arial, sans-serif;
  font-weight: 300;
  color: #222222;
}
.main-navigation ul li:not(:last-child) {
  padding: 6.5px 2px;
}
.main-navigation ul li:last-child {
  padding: 6.5px 2px 0px;
}
.main-navigation .advertising {
  width: 180px;
  height: 180px;
  background-color: #ebebeb;
}

.internal-navigation {
  padding: 3px 15px 38px;
}
.internal-navigation a, .internal-navigation span {
  font-family: "Highway-light", arial, sans-serif;
  font-size: 13px;
  color: #777777;
}
.internal-navigation span {
  padding: 0px 7px;
}
.internal-navigation a {
  text-decoration: none;
}
.internal-navigation a.active {
  color: #222222;
}
.internal-navigation a:first-of-type {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: 0px 50%;
  background-image: url("../images/icons/house.svg");
  background-size: auto 12px;
}
.internal-navigation a:not(.active):hover {
  text-decoration: underline;
}

.articles-list article {
  padding: 21px;
  border: 1px solid #eeeeee;
  background-color: white;
}
.articles-list article:not(:last-of-type) {
  margin-bottom: 50px;
}
.articles-list article .article-header {
  padding-bottom: 30px;
}
.articles-list article .article-header h4, .articles-list article .article-header p {
  font-family: "Highway-thin", arial, sans-serif;
  font-weight: 300;
  color: #999999;
}
.articles-list article .article-header h4 {
  margin-right: 20px;
  font-size: 16px;
}
.articles-list article .article-header p {
  font-size: 14px;
}
.articles-list article .article-header .column {
  vertical-align: middle;
}
.articles-list article .article-header .article-button {
  width: 20px;
  height: 20px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../images/icons/ellipsis.svg");
  background-size: 14px 3px;
}
.articles-list article .article-header .article-button:hover {
  cursor: pointer;
}
.articles-list article img {
  display: block;
  width: 100%;
  max-width: 640px;
  max-height: 340px;
  margin: 0px auto 40px;
}
.articles-list article h3 {
  margin-bottom: 10px;
  font-family: "Highway-light", arial, sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #222222;
}
.articles-list article .description {
  margin-bottom: 20px;
  line-height: 140%;
  font-family: "Highway-regular", arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #464646;
}
.articles-list article .tags {
  padding-bottom: 25px;
  border-bottom: 1px solid #eeeeee;
}
.articles-list article .tags a {
  font-family: "Highway-light", arial, sans-serif;
  font-size: 14px;
  color: #7e7a95;
  background-color: white;
  text-decoration: none;
}
.articles-list article .tags a:not(:last-child) {
  margin-right: 10px;
}
.articles-list article .tags a:hover {
  text-decoration: underline;
}
.articles-list article .article-footer {
  padding-top: 20px;
}
.articles-list article .article-footer p, .articles-list article .article-footer a {
  font-family: "Highway-light", arial, sans-serif;
  font-size: 14px;
  text-decoration: none;
}
.articles-list article .article-footer a {
  color: #6e6675;
}
.articles-list article .article-footer p {
  color: #b7b7b7;
}
.articles-list article .article-footer p.likes-amount, .articles-list article .article-footer p.reviews-amount {
  padding-left: 25px;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-size: auto 14px;
}
.articles-list article .article-footer p.likes-amount {
  background-image: url("../images/icons/heart.png");
}
.articles-list article .article-footer p.reviews-amount {
  background-image: url("../images/icons/eye.svg");
}
.articles-list article .article-footer p:first-child {
  margin-right: 38px;
}

.sing-up-module form {
  max-width: 246px;
  padding: 25px 0px;
}
.sing-up-module form input[type=email] {
  width: 100%;
  height: 38px;
  font-family: "Highway-light", arial, sans-serif;
  font-size: 14px;
  border: 1px solid #eeeeee;
  color: #9e9e9e;
  text-indent: 1em;
}
.sing-up-module form input[type=submit] {
  width: 100%;
  border: none;
}
.sing-up-module form input:not(:last-of-type) {
  margin-bottom: 15px;
}

.right-side-module {
  position: relative;
}
.right-side-module .air-module {
  padding-left: 16px;
}

.air-module {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  min-height: 2000px;
}

.internal-air-module {
  position: sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: -webkit-sticky;
  top: 0px;
}

/* 
    Created on : 10.10.2017, 17:59:48
    Author     : Mikhail Dumchev
*/
#background {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

#background.active {
  display: block;
  filter: blur(4px);
}

.modal-window {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 480px;
  background-color: white;
  padding: 20px 20px 25px;
  border-radius: 10px;
  opacity: 0;
  z-index: 15;
}

.modal-window.active {
  display: block;
}

/* 
    Created on : 10.10.2017, 14:12:32
    Author     : Mikhail Dumchev
*/
.fuzzy {
  position: relative;
  filter: blur(4px);
}

.disabled {
  overflow-y: hidden;
}

#pop-up-menu {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
  z-index: 5;
}
#pop-up-menu .frame {
  padding: 114px 0px 60px;
}

.search-form div {
  position: relative;
  margin: 72px 0px 100px;
}
.search-form div:after {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  content: "";
  width: 62px;
  height: 62px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../images/icons/loupe-gray.png");
}
.search-form div input {
  padding: 0px 17px;
  width: 100%;
  height: 62px;
  border: 1px solid #333333;
  background-color: inherit;
  font-family: "Highway-medium", arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: #acacac;
}

.categories-list .column:not(.active) li a {
  color: #acacac;
}
.categories-list .column:not(.active) h2 {
  color: #acacac;
  border-bottom: 1px solid #333333;
}
.categories-list .column.active h2 {
  color: white;
  border-bottom: 1px solid #999999;
}
.categories-list .column.active li a {
  color: #dddddd;
}
.categories-list .column.with-two-columns ul {
  overflow: hidden;
}
.categories-list .column.with-two-columns ul li {
  width: 50%;
}
.categories-list .column.with-two-columns ul li:nth-child(-n + 5) {
  float: left;
  clear: both;
}
.categories-list .column.with-two-columns ul li:nth-child(n + 5) {
  display: inline-block;
}
.categories-list .column.with-one-column {
  text-align: center;
}
.categories-list .column.with-one-column ul {
  display: inline-block;
}
.categories-list .column.with-one-column ul li {
  text-align: left;
}
.categories-list .column h2 {
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Highway-thin", arial, sans-serif;
}
.categories-list .column ul {
  padding: 10px 0px 0px;
  list-style-type: none;
}
.categories-list .column ul li {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "Highway-thin", arial, sans-serif;
  font-weight: 300;
}
.categories-list .column ul li a {
  text-decoration: none;
}

.popular-news .internal-frame,
.upcoming-events .internal-frame {
  margin-bottom: 15px;
}
.popular-news .internal-frame .column-table h2,
.upcoming-events .internal-frame .column-table h2 {
  font-family: "Highway-thin", arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: white;
}
.popular-news .internal-frame .column-table a,
.upcoming-events .internal-frame .column-table a {
  font-family: "Highway-light", arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  color: #007aff;
}

.popular-news {
  max-width: 380px;
  padding-right: 20px;
}
.popular-news .article-preview {
  background-color: #1f1f1f;
}
.popular-news .article-preview:not(:last-of-type) {
  margin-bottom: 21px;
}
.popular-news .article-preview:hover a .article-preview-description h3 {
  color: white;
}
.popular-news .article-preview .article-preview-image {
  max-width: 64px;
  height: 64px;
  margin-right: 15px;
}
.popular-news .article-preview a {
  padding: 8px;
}
.popular-news .article-preview a .article-preview-description h3 {
  transition: 0.5s color;
  color: #cccccc;
}
.popular-news .article-preview a .article-preview-description .article-preview-footer h4, .popular-news .article-preview a .article-preview-description .article-preview-footer p {
  color: #999999;
}

.upcoming-events .column:nth-child(even) {
  padding-left: 10px;
}
.upcoming-events .column:nth-child(odd) {
  padding-right: 10px;
}
.upcoming-events .column:nth-child(n+3) {
  margin-top: 20px;
}
.upcoming-events .event .event-image {
  display: table;
  width: 100%;
  height: 135px;
  padding: 0px 17px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #f0f0f0;
}
.upcoming-events .event .event-image .additory-module h3 {
  margin-bottom: 20px;
  font-family: "Highway-medium", arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: white;
}
.upcoming-events .event .event-image .additory-module p {
  font-family: "Highway-light", arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: white;
}
.upcoming-events .event .event-footer {
  padding: 15px;
  background-color: #1f1f1f;
}
.upcoming-events .event .event-footer a, .upcoming-events .event .event-footer p {
  font-family: "Highway-light", arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #999999;
}
.upcoming-events .event .event-footer a {
  text-align: right;
  text-decoration: none;
}
.upcoming-events .event .event-footer a:hover {
  color: #c3c3c3;
  text-decoration: underline;
}

.base-module {
  position: relative;
  overflow: hidden;
}

.search-content {
  display: none;
  width: 100%;
  height: 438px;
  background-color: red;
}

/*# sourceMappingURL=style.css.map */
