$borderColor: rgb(238, 238, 238);
$headersColor: rgb(34, 34, 34);
$articleInformationColor: rgb(153, 153, 153);
$socialNetworks: ("facebook", "twitter", "vkontakte", "telegram", "instagram");
$icons: ("menu", "loupe", "bell");
$thinFont: "Highway-thin", arial, sans-serif;
$lightFont: "Highway-light", arial, sans-serif;
$regularFont: "Highway-regular", arial, sans-serif;
$mediumFont: "Highway-medium", arial, sans-serif;
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: #f5f5f5;
}
@font-face {
    font-family: "Highway-light";
    src: url("../fonts/highway-light.ttf") format('truetype');
}
@font-face {
    font-family: "Highway-medium";
    src: url("../fonts/highway-medium.ttf") format('truetype');
}
@font-face {
    font-family: "Highway-regular";
    src: url("../fonts/highway-regular.ttf") format('truetype');
}
@font-face {
    font-family: "Highway-thin";
    src: url("../fonts/highway-thin.ttf") format('truetype');
}
@import "_grid.scss";
.error-message {
    font-family: "Highway-light", arial, sans-serif;
}
.upper-menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 0px 19px;
    border-bottom: 1px solid $borderColor;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    .internal-frame {
        max-width: 1180px;
        min-width: 980px;
        margin: 0px auto;
        .with-padding {
            text-align: center;
        }
        .column {
            vertical-align: middle;
        }
        a:not(.button) {
            display: inline-block;
            margin-left: 103px;
            .main-image {
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: rgb(255, 255, 255);
            background-repeat: no-repeat;
            @each $title in $icons {
                &.#{$title} {
                    background-image: url("../images/icons/#{$title}.png");
                }
            }
            &:hover {
                cursor: pointer;
            }
        }
        .icon:not(:first-of-type) {
            margin-left: 30px;
        }
    }
}
.button {
    position: relative;
    display: table;
    width: 180px;
    height: 40px;
    font-size: 16px;
    font-family: $lightFont;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: #76ead5;
    background: -moz-linear-gradient(left, #76ead5 0%, #3dc9de 51%, #0face6 100%);
    background: -webkit-linear-gradient(left, #76ead5 0%,#3dc9de 51%,#0face6 100%);
    background: linear-gradient(to right, #76ead5 0%,#3dc9de 51%,#0face6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76ead5', endColorstr='#0face6',GradientType=1 );
    &:hover {
        cursor: pointer;
    }
    .additory-module {
        padding-left: 40px;
        text-align: center;
        &:before {
            position: absolute;
            top: 0px;
            left: 0px;
            display: table;
            width: 40px;
            height: 40px;
            content: "";
            background-color: rgba(0, 0, 0, 0.1);
            background-repeat: no-repeat;
            background-position: 0px 50%;
            background-image: url("../images/icons/calendar.png");
        }
    }
}
.main-part {
    padding-top: 114px;
}
.social-networks-module {
    border-bottom: 1px solid $borderColor;
    .social-networks-list {
        width: 100%;
        padding: 12px 0px 17px;
        .column {
            width: 20%;
            .social-network-icon {
                display: block;
                padding-top: 30px;
                background-repeat: no-repeat;
                background-position: 50% 0%;
                text-align: center;
                font-family: $thinFont;
                font-size: 14px;
                color: rgb(178, 178, 178);
                text-decoration: none;
                @each $title in $socialNetworks {
                    &.#{$title} {
                        background-image: url("../images/social-networks/#{$title}.png");
                    }
                }
            }
        }
    }
}
.similar-news-module {
    padding-top: 15px;
    h2 {
        margin-bottom: 15px;
    }
    .article-preview {
        &:not(:last-of-type) {
            margin-bottom: 30px;
        }
        a {
            .article-preview-description {
                h3 {
                   color: $headersColor; 
                }
                .article-preview-footer {
                    h4, p {
                        color: $articleInformationColor;
                    }
                }
            }
        }
    }
}
//Стили для превью статей, которые содержатся в боковом блоке (similar-news-module) и в меню (pop-up-menu);
.article-preview {
    &:hover {
        cursor: pointer;
    }
    .article-preview-image {
        img {
            width: 100%;
        }
    }
    a {
        display: block;
        .article-preview-description {
            h3 {
                margin-bottom: 10px;
                font-family: $lightFont;
                font-size: 14px;
                font-weight: 300;
            }
            .article-preview-footer {
                h4, p {
                    font-family: $thinFont;
                    font-weight: 300;
                    font-size: 14px;
                    &:first-child {
                        margin-right: 12px;
                    }
                }
            }
        }
    }
}
.social-networks-module,
.similar-news-module,
.sing-up-module,
.main-navigation {
    h2 {
        font-family: $lightFont;
        font-size: 20px;
        color: $headersColor;
    }
}
.main-navigation {
    .flat-free-module {
        position: fixed;
    }
    h2 {
        margin-bottom: 13px;
    }
    ul {
        margin-bottom: 30px;
        list-style-type: none;
        li {
            font-size: 14px;
            font-family: $lightFont;
            font-weight: 300;
            letter-spacing: 0.2px;
            a {
                color: rgb(119, 119, 119);
                text-decoration: none;
                transition: 0.5s color;
                &:hover {
                    font-family: $lightFont;
                    font-weight: 300;
                    color: $headersColor;
                }
            }
        }
        li:not(:last-child) {
            padding: 6.5px 2px;
        }
        li:last-child {
            padding: 6.5px 2px 0px;
        }
    }
    .advertising {
        width: 180px;
        height: 180px;
        background-color: rgb(235, 235, 235);
    }
}
.internal-navigation {
    padding: 3px 15px 38px;
    a, span {
        font-family: $lightFont;
        font-size: 13px;
        color: rgb(119, 119, 119);
    }
    span {
        padding: 0px 7px;
    }
    a {
        text-decoration: none;
        &.active {
            color: rgb(34, 34, 34);
        }
        &:first-of-type {
            padding-left: 20px;
            background-repeat: no-repeat;
            background-position: 0px 50%;
            background-image: url("../images/icons/house.png");
        }
        &:not(.active):hover {
            text-decoration: underline;
        }
    }
}
.articles-list {
    article {
        padding: 21px;
        border: 1px solid $borderColor;
        background-color: rgb(255, 255, 255);
        &:not(:last-of-type) {
            margin-bottom: 50px;
        }
        .article-header {
            padding-bottom: 30px;
            h4, p {
                font-family: $thinFont;
                font-weight: 300;
                color: $articleInformationColor;
            }
            h4 {
                margin-right: 20px;
                font-size: 16px;
            }
            p {
                font-size: 14px;
            }
            .column {
                vertical-align: middle;
            }
            .article-button {
                width: 20px;
                height: 20px;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-image: url("../images/icons/ellipsis.png");
                &:hover {
                    cursor: pointer;
                }
            }
        }
        img {
            display: block;
            width: 100%;
            max-width: 640px;
            max-height: 340px;
            margin: 0px auto 40px;
        }
        h3 {
            margin-bottom: 10px;
            font-family: $lightFont;
            font-weight: 300;
            font-size: 24px;
            color: $headersColor;
        }
        .description {
            margin-bottom: 20px;
            line-height: 140%;
            font-family: $regularFont;
            font-weight: 300;
            font-size: 18px;
            color: rgb(70, 70, 70);
        }
        .tags {
            padding-bottom: 25px;
            border-bottom: 1px solid $borderColor;
            a {
                font-family: $lightFont;
                font-size: 14px;
                color: rgb(126, 122, 149);
                background-color: rgb(255, 255, 255);
                text-decoration: none;
                &:not(:last-child) {
                    margin-right: 10px;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .article-footer {
            padding-top: 20px;
            p, a {
                font-family: $lightFont;
                font-size: 14px;
                text-decoration: none;
            }
            a {
                color: rgb(110, 102, 117);
            }
            p {
                color: rgb(183, 183, 183);
                &.likes-amount, &.reviews-amount {
                    padding-left: 25px;
                    background-repeat: no-repeat;
                    background-position: 0% 50%;
                }
                &.likes-amount {
                    background-image: url("../images/icons/thumbs-up.png");
                }
                &.reviews-amount {
                    background-image: url("../images/icons/eye.png");
                }
                &:first-child {
                    margin-right: 38px;
                }
            }
        }
    }
}
.sing-up-module {
    form {
        max-width: 246px;
        padding: 25px 0px;
        input[type=email] {
            width: 100%;
            height: 38px;
            font-family: $lightFont;
            font-size: 14px;
            border: 1px solid $borderColor;
            color: rgb(158, 158, 158);
            text-indent: 1em;
        }
        input[type=submit] {
            width: 100%;
            border: none;
        }
        input:not(:last-of-type) {
            margin-bottom: 15px;
        }
    }
}
.right-side-module {
    position: relative;
    padding-left: 16px;
}
.air-module {
    position: absolute;
    top: 0%;
    width: 100%;
    min-height: 2000px;
}
.internal-air-module {
    position: sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: -webkit-sticky;
    top: 120px;
}
@import "_modal-window.scss";
@import "_pop-up-menu.scss";